<ion-grid>
  <ion-row>
    <ion-col col-12>
      <ion-item class="form-item">
        <ion-select placeholder="{{label.country}}" [(ngModel)]="userData.country">
          <ion-option *ngFor="let item of countries" value="{{item.name}}">{{item.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-row>
        <ion-col class="mix-right" col-4>
          <ion-label stacked>Código</ion-label>
          <ion-item class="form-item">
            <ion-select class="no-select-icon" placeholder="{{label.countryCode}}" [(ngModel)]="userData.countryCode">
                <ion-option *ngFor="let item of countriesCodes" value="{{item.code}}">+{{item.code}}</ion-option>
                <!-- <ion-option value="37">Hombre</ion-option>
                <ion-option value="38">Mujer</ion-option>
                <ion-option value="39">Otro</ion-option> -->
              </ion-select>
          </ion-item>
        </ion-col>
        <ion-col class="mix-left" col-8>
          <ion-label class="invisible-label" stacked>asd</ion-label>
          <ion-item class="form-item">
            <ion-input type="number" placeholder="{{label.phone}}" [(ngModel)]="userData.phone"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-item class="form-item">
        <ion-input type="text" placeholder="{{label.direction}}" [(ngModel)]="userData.direction"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>
