your-contact {

}

.invisible-label {
  color: #fff;
}

.mix-right {
  padding-right: 0px;
  padding-left: 0px;
}

.mix-left, .mix-left ion-item {
  padding-left: 0px;
}

.mix-left ion-item .item-inner {
  border-left: 1px solid #dedede;
}

.no-select-icon .select-icon {
  display: none;
}