page-home {

}

ion-slide.swiper-slide {
    align-items: flex-start;
}

.back-button-icon-md {
    color: #dd4a58;
}

.form-item {
    margin-bottom: 10px;
}

.form-btn {
    border-radius: 50px;
}

.select-md {
    padding-left: 8px !important;
}

ion-select {
    width: 100%;
    max-width: 100%;
}

.datetime-md {
    padding-left: 8px;
}

.back-icon { 
    color: #dd4a58;
}

.back-btn { 
    font-size: 25px;
    padding-left: 12px;
}