<ion-grid>
  <ion-row>
    <ion-col col-12>
      <ion-item class="form-item">
        <ion-input type="text" placeholder="{{label.email}}" [(ngModel)]="userData.email"></ion-input>
      </ion-item>
      <ion-item class="form-item">
        <ion-icon class="icon-password" item-end name="eye" (click)='togglePassword()'></ion-icon>
        <ion-input type="{{passwordType}}" placeholder="{{label.password}}" [(ngModel)]="userData.password"></ion-input>
      </ion-item>
      <ion-item class="form-item">
        <ion-input type="{{passwordType}}" placeholder="{{label.confirmPassword}}" [(ngModel)]="userData.confirmPassword"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>